*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
h1,h2,h3,h4,ul,li,p,hr{
    margin-top: 0%;
    margin-bottom: 0%;
}
ul{
    padding-left: 0%;
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
input{
    font-family: inherit;
    outline: none;
}
button{
    font-family: inherit;
    border: none;
}